<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arifzyn | Get Session </title>
    <link rel="icon" href="https://telegra.ph/file/90b63520c86dc7193f1f3.jpg" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="./css/styles.css">
  </head>
  <body>
    <section class="animated-background">
      <div id="stars1"></div>
      <div id="stars2"></div>
      <div id="stars3"></div>
    </section> 
    <div class="desk" style="color: rgb(255, 255, 255)">
      <h2>Hai, welcome to my website, </br> Click Button To Get Your session<h2>
    </div>
    <a href="/getAuth" class="link">Get Your Auth</a>
  </body>
</html>